<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohnong.app.community.mapper.ReportMapper">
<insert id="reportWrite" parameterType="com.ohnong.app.community.service.ReportVO">
insert into report
values
(#{boardBno},
report_seq.nextval,
#{reportType},
#{reportContent}, 
#{userId},
sysdate)
</insert>

<!--신고받은 횟수 -->
<update id="reportCount">
update board
set report_count= report_count +1
where board_bno=#{boardBno}
</update>

<!-- 신고받은 글 리스트 -->
<select id="reportBoardList" resultType="com.ohnong.app.community.service.BoardVO">
select * 
from( select rownum rn, a.* 
      from( select *
from board
<![CDATA[  
where report_count >2]]>
and (exist=0
or exist=5)	
<if test="category != null and category !=''">
            and board_category=#{category}
		</if>
<![CDATA[   order by board_bno desc) 
            a where rownum <= #{pageNum} * #{amount}
           )b
where b.rn >= (#{pageNum}- 1) * #{amount}	
]]>		
</select>

<select id="reportBoardTotal"  resultType="int">
select count(*)
from board
<![CDATA[
where report_count>2]]>
and (exist=0
or exist=5)
<if test="category != null and category !=''">
        and board_category=#{category}
</if>

</select>

<select id="reportList" resultType="ReportVO">
select * from report
where board_bno=#{boardBno}
</select>

<update id="boardBlind">
update board
set exist = exist+5
where board_bno=#{boardBno}
</update>

<update id="boardRestore">
update board
set exist = exist-5
where board_bno=#{boardBno}
</update>


</mapper>
