<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"> 
</head>
  <footer th:fragment="footerMainFragment" class="footer text-center">
   <!-- Footer-->
  	 <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">GROUP PROJECT</h4>
                        <p class="lead mb-0" style="font-weight:bolder;">
                            오늘의 농가
                            <br/>
                        <p/>
                        <p style="font-weight:bolder;">윤성현 서승민 김근연<BR>
                            문믄희 여원희
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">고객센터 C/S Center</h4>
                        <p class="lead mb-0">
						    Tel:053-421-2460<br>
						    Fax:053-356-3939<br>
						    © Copyright 2009 (주)예담직업전문학교.
                        </p>
                    </div>
                </div>
            </div>
             <!-- Footer-->
  </footer>
</html>