<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layoutMagement}">
<head>
 <title> oh-nong!</title>
<meta charset="UTF-8">
	
   <link rel="stylesheet" th:href="@{/css/default.css}" />
   <link rel="stylesheet" th:href="@{/css/content.css}" />
   <link rel="stylesheet" th:href="@{/css/button.css}" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<style>
   .pageInfo_area{
    text-align: center;
    width: 50%;
}
.pagination2{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 20px;
}

.pagination2 li {
    display: inline;
    text-align: center;
}
/*숫자*/ 
.pagination2 a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #96a0ad;
    line-height: 1.5;
}
.pagefirst{
    margin-right: 15px;
}
.pagelast{
    margin-left: 15px;
}
.pagefirst:hover, .pagelast:hover, .arrowright:hover, .arrowleft:hover, .model .num:hover{
    color:#2e9cdf;
}
.pagination2 .move.active{
    cursor: default;
    color: #ffffff;
}
.pagination2 .move:active{
    outline: none;
}
.model .num {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-redius:100%;
    border-radius: 100%;
}
.model .num.active, .model .num:active{
    background-color: #2e9cdf;
    cursor: pointer;
}
.arrowleft{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10ox solid blue;
}

 a.active {
    cursor:default;
    color:#ffffff;    
 }

  
  .search_area{
    text-align:center;
    margin-top:10px;
  }
  .search_area input{
    height: 30px;
    width: 250px;
  }
  .search_area button{
    height: 30px;
    width: 100px;
  }
   .search_area select{
     height: 30px;
    width:150px;
  }
 .move:link {color: #2e9cdf; text-decoration: none; }
 .move:visited {color:purple;,text-decoration: overline;}
 .move:hover {color:#bbb;,text-decoration: underline;}
 
 .x_content{
    width:100%; 
    text-align:center; 
    line-height:27px;
 }
 
</style>
</head>
<th:block layout:fragment="css"> </th:block>
<th:block layout:fragment="script"> </th:block>
<body>  
<div layout:fragment="contentMagement">
<!-- page content -->
<div class="right_col" role="main">
   <div class="">
      <div class="page-title">
         <div class="title_left">
            <h3>Oh! Nong</h3>
              </div>
      </div>
      <div class="clearfix"></div>
      <div class="row" style="display: block;">
      <div class="col-md-12">
         <div class="x_panel">
            <div class="x_title">
               <h2>📢 커뮤니티 <small style="font-weight: bold;">문의</small></h2><h2 style="display: inline-block;  vertical-align: middle; margin-left:30px; " th:if="${criteria_1.category =='C'}"> 전문인에게 물어봐 카테고리는 추천수가 10이 넘으면 전문인의 자문 답변을 받을 수 있습니다.</h2>
                  <ul class="nav navbar-right panel_toolbox">
                     <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                           <a class="dropdown-item" href="#">공지사항</a> 
                           <a class="dropdown-item" href="#">오농식</a>
                           <a class="dropdown-item" href="#">오시는길</a>
                        </div>
                     </li>
                  </ul>
               <div class="clearfix"></div>
            </div>
            <div class="x_content">
            <p style="text-align:left; " >＊ 전체 <span th:text=${pageMaker.total}></span> 건 | 현재페이지 [[${pageMaker.criteria.pageNum}]]</p>
            
           <div style=" align-items:center; height: 50px; margin-top: 10px;">
		 		 
		  <!-- 카테고리별 분류끝 -->
			  
                    <!-- 카테고리별 분류 -->
			  <div style=" margin-right:10px; height: 50px; float: left;">
			    <select id="Category" name="type" th:onchange="categoryBoxChange(this.value)" class="btn btn-success dropdown-toggle" style="font-weight: bold; background-color:#2A3F54;border: none; " >
			      <option value="" th:selected="${pageMaker.criteria.category == null?true:false }" >전체카테고리</option>
			      <option value="A" th:selected="${pageMaker.criteria.category eq 'A'?true:false }">노하우 & 팁</option>
			      <option value="B" th:selected="${pageMaker.criteria.category eq 'B'?true:false }">1:1문의</option>
			      <option value="C" th:selected="${pageMaker.criteria.category eq 'C'?true:false }">전문인에게 물어봐</option>
			      <option value="D" th:selected="${pageMaker.criteria.category eq 'D'?true:false }">잡담</option>
			    </select>
			  </div>
			  <div class="search_area" style="float: left; height: 50px; margin-top: -2px;">
                     <select id="selectCategoery" name="type"  th:onchange="selectBoxChange(this.value)" style="height: 40px; border-radius: 4px; font-weight: bold;margin-right: 10px;">
                        <option value=""  th:selected="${pageMaker.criteria.type == null?true:false }" >🔎 검색조건</option>
                        <option value="T" th:selected="${pageMaker.criteria.type eq 'T'?true:false }">제목</option>
                        <option value="C" th:selected="${pageMaker.criteria.type eq 'C'?true:false }">내용</option>
                        <option value="W" th:selected="${pageMaker.criteria.type eq 'W'?true:false }">작성자</option>
                        <option value="TC" th:selected="${pageMaker.criteria.type eq 'TC'?true:false }">제목+내용</option>
                        <option value="TW" th:selected="${pageMaker.criteria.type eq 'TW'?true:false }">제목+작성자</option>
                        <option value="TCW" th:selected="${pageMaker.criteria.type eq 'TCW'? true:false }">제목+내용+작성자</option>
                        <option value="reset" >reset</option>
                     </select>
                     <input type="text" name="keyword" th:value="${pageMaker.criteria.keyword}" placeholder="검색하실 내용을 입력하세요..." style="height: 40px; border-radius: 4px;font-weight: bold;margin-right: 10px;margin-top: -2px;">
                     <span class="input-group-btn"><button type="button" id="searchBtn" class="btn btn-round btn-secondary" style="height: 40px;font-weight: bold;background-color:#2A3F54;border: none;border-radius: 4px;">Search <i class="fa fa-search"></i></button></span>
                  </div>
			</div>
                    <div class="clearfix"></div>
                <div class="table-responsive" style="height: 700px">
                    <table id="datatable-buttons" class="table table-striped jambo_table bulk_action">
                    <colgroup>
                     <col style="width: 5%;" />
                     <col style="width: 10%;" />
                     <col />
                     <col style="width: 10%;" />
                     <col style="width: 10%;" />
                     <col style="width: 5%;" />
                     <col style="width: 5%;" />
                  </colgroup>
                      <thead>
                        <tr>
                          <th  class="column-title">No.</th>
                          <th class="column-title">카테고리</th>
                          <th class="column-title">제목</th>
                          <th class="column-title">작성자</th>
                          <th class="column-title">등록일</th>
                          <th class="column-title">조회수</th>
                          <th class="column-title">추천수</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr th:each="boardInfo,status : ${boardList}">
                           <td th:text="${boardInfo.boardBno}"/>
                           <td th:switch="${boardInfo.boardCategory}">
                              <span th:case="A">노하우&팁</span>
                              <span th:case="B">1:1문의</span>
                              <span th:case="C">전문인에게</span>
                              <span th:case="D">잡담</span>
                           </td>
                           <td> <!-- 유저별로 자기 글조회... -->
                               <!--비회원+비밀글아님  -->
                            <a th:if="${boardInfo.noshow==0}" th:href="@{/communityView(boardBno=${boardInfo.boardBno}, pageNum=${pageMaker.criteria.pageNum},amount=10,type=${pageMaker.criteria.type},keyword=${pageMaker.criteria.keyword},category=${pageMaker.criteria.category},userId=${session.login?.userId},col='A')}" th:text="${boardInfo.boardTitle}"></a>
                               <!--비밀글+로그인+작성자 아님  -->
                            <span th:if="${boardInfo.noshow==1} AND ${session.login !=null} AND (${session.login?.userId} != ${boardInfo.userId}) AND (${session.login?.grade} !=1)">🔒비밀글 기능으로 보호된 글입니다. 작성자와 운영자만 열람하실 수 있습니다. </span>                             
                            <!--비밀글+ 로그인 아님 -->
                            <span th:if="${boardInfo.noshow==1} AND ${session.login==null}">🔒비밀글 기능으로 보호된 글입니다. 작성자와 운영자만 열람하실 수 있습니다.</span>                             
                            <!--비밀글+ 로그인 + 작성자. -->
                            <a th:if="${boardInfo.noshow==1} AND ${session.login!=null} AND (${session.login?.userId} == ${boardInfo.userId}) AND (${session.login?.grade}!= 1)"  th:href="@{/communityView(boardBno=${boardInfo.boardBno}, pageNum=${pageMaker.criteria.pageNum},amount=10,type=${pageMaker.criteria.type},keyword=${pageMaker.criteria.keyword},category=${pageMaker.criteria.category},userId=${session.login?.userId},col='A')}" th:text="'(🔓나의 비밀글)'+${boardInfo.boardTitle}"></a>                             
                            <!-- 비밀글 + 관리자 -->
                            <a th:if="${boardInfo.noshow==1} AND ${session.login!=null} AND (${session.login?.grade}==1)"  th:href="@{/communityView(boardBno=${boardInfo.boardBno}, pageNum=${pageMaker.criteria.pageNum},amount=10,type=${pageMaker.criteria.type},keyword=${pageMaker.criteria.keyword},category=${pageMaker.criteria.category},userId=${session.login?.userId},col='A')}" th:text="'(비밀글🔓)'+${boardInfo.boardTitle}"></a>                             
                         </td>
                           <td th:text="${boardInfo.userId}"/>
                           <td th:text="${#dates.format(boardInfo.boardRegdate,'yyyy-MM-dd')}"/> 
                           <td th:text="${boardInfo.boardHitcount}"/>
                           <td th:text="${boardInfo.boardLike}"/>
                      </tr>
                 	 </tbody>
                    </table>
                    <!-- 검색 -->
                   <div class="search_wrap" style="float: right;">
			    <!-- 글등록버튼 -->
			    	<a th:if="${session.login != null}" th:href="@{/communityWrite}" class="btn btn-info" style="padding: 8px 20px;background-color:#2A3F54;border: none;" >글 등록</a>
			    	<span th:unless="${session.login != null}" th:href="@{/communityWrite}"></span>
               </div>
            	
                   <!-- 페이징 -->
               <div class="pageInfo_area" style="width:100%; text-align: center; disiplay:inline-block; margin-top: 50px;"> 
              
                   <ul class="pagination2 model" th:each="page:${pageMaker}">
                  <th:block
                     th:with="start = ${page.startPage}, end = ${page.endPage} ">
                     <!-- 처음-->
                     <li class="pageInfo_btn"><a class="pagefirst" 
                        th:href="@{/community?pageNum={page}&amount=10&keyword={keyword}&category={category}(page = ${1},keyword = ${pageMaker.criteria.keyword},type=${pageMaker.criteria.type},category=${pageMaker.criteria.category})}" 
                        th:text="'<<'"></a></li>
                     <!-- 이전 -->
                     <li class="pageInfo_btn" th:if="${page.prev}"><a
                        class="allowleft"
                        th:href="@{/community?pageNum={page}&amount=10&keyword={keyword}&category={category} (page = ${page.startPage-1}, keyword = ${pageMaker.criteria.keyword},type=${pageMaker.criteria.type},category=${pageMaker.criteria.category})}"
                        th:text="'<'"></a></li>
                     <!-- 숫자 -->
                     <li class="pageInfo_btn"
                        th:with="start = ${page.startPage}, end = ${page.endPage} "
                        th:each="pageButton : ${#numbers.sequence(start, end)}">
                        <a class="num"
                        th:href="@{/community?pageNum={page}&amount=10&keyword={keyword}&category={category} (page = ${pageButton},keyword = ${pageMaker.criteria.keyword},type=${pageMaker.criteria.type},category=${pageMaker.criteria.category})}"
                        th:text=${pageButton}
                        th:classappend="${pageMaker.criteria.pageNum == pageButton ? 'active':'' }"></a>
                     </li>
                     <!-- 다음 -->
                     <li class="pageInfo_btn" th:if="${page.next}"><a
                        class="arrowright"
                        th:href="@{/community?pageNum={page}&amount=10&keyword={keyword}&category={category} (page = ${page.endPage+1},keyword = ${pageMaker.criteria.keyword},type=${pageMaker.criteria.type},category=${pageMaker.criteria.category})}"
                        th:text="'>'"></a></li>
                     <!-- 끝 -->
                     <li class="pageInfo_btn"><a class="pagelast"
                        th:href="@{/community?pageNum={page}&amount=10&keyword={keyword}&category={category}(page = ${page.realEnd},keyword=${pageMaker.criteria.keyword},type=${pageMaker.criteria.type},category=${pageMaker.criteria.category})}"
                        th:text="'>>'"> <span>끝</span></a></li>
                  </th:block>
               </ul>
               </div>
                </div>
               
                   </div>
                </div>
              </div>
            
            <!-- 검색 -->
            <form id="moveForm" method="get" style="display:none;">
                <input type="text" name="pageNum" th:value="${pageMaker.criteria.pageNum }">
                 <input type="text" name="amount" th:value="${pageMaker.criteria.amount }">
                 <input type="text" name="keyword" th:value="${pageMaker.criteria.keyword }"> 
                 <input type="text" name="type" th:value="${pageMaker.criteria.type}">
                 <input type="text" name="category" th:value="${pageMaker.criteria.category}">
                 
               </form> 
               <form id="moveFormCategory" method="get" style="display:none;">
                  <input type="text" name="pageNum" th:value="${pageMaker.criteria.pageNum }">
                    <input type="text" name="amount" th:value="${pageMaker.criteria.amount }">
                    <input type="text" name="category" th:value="${pageMaker.criteria.category }"> 
                  </form> 
            
            </div>
           </div>                           
          </div>
<script>

         //비밀글 직접접근방지 alert메세지.
         var msg = "[[${msg}]]";
         
         if(msg != ''){
        	 Swal.fire({
	                icon: 'warning',
	                title: msg
	            });
         }
         
           //카테고리별 분류
              var categoryBoxChange= function(){
              
              
              let category =$("#Category  option:selected").val();
              
              let moveFormCategory = $("#moveFormCategory");
              
               
              moveFormCategory.find("input[name='category']").val(category);
              moveFormCategory.find("input[name='pageNum']").val(1);
              moveFormCategory.submit();
                 
           }
           
           
           //검색
           var selectBoxChange = function(value){
           
              $("#selectCategoery").val(value);
              
              if (value == "reset") {
                  // select가 "reset" 옵션으로 변경됐을 때 처리하는 로직
                  moveForm.find("input[name='type']").val("");
                  moveForm.find("input[name='keyword']").val("");
                  moveForm.find("input[name='pageNum']").val(1);
                  moveForm.find("input[name='category']").val("")
                  moveForm.submit();
       
               }
           
           }
           
           
           let moveForm = $("#moveForm");

           
           $(".search_area button").on("click", function(e){
              e.preventDefault();
              
              let type = $("#selectCategoery").val();
              let keyword = $(".search_area input[name='keyword']").val();
              let category ='[[${pageMaker.criteria.category}]]';
              
         
              console.log(type)
              console.log(keyword)
              //let type = $(".search_area select").val();
              //let keyword = $(".search_area input[name='keyword']").val();
              
              if (keyword === "" && type === "") {
                    $('select[name="type"]').val("");
                    $(".search_area input[name='keyword']").val("");
             }
              
              if(type === ""){
            	  $(".search_area input[name='keyword']").val("");
              }
                 
              moveForm.find("input[name='type']").val(type);
              moveForm.find("input[name='keyword']").val(keyword);
              moveForm.find("input[name='pageNum']").val(1);
              moveForm.find("input[name='category']").val(category)
              moveForm.submit();
              //현재의 url경로의 매핑 메서드를 호출 
           });
</script>
</div><!-- content div 끝 -->
<!-- /page content -->   
</body>
</html>