<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutMagement}">

<head>
 <title> oh-nong!</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

<style>



#editor {
	/* border : 1px solid; */
	width: 90%;
	margin: 0 auto;
}

/* editor content 받을 div태그 스타일 추가. */
#contents {
	width: 50%;
	height: 100px;
	margin: 30px auto;
	border: 1px solid;
}

/* input 숨겨준다 */
input#check_btn{
  display:none;
  }

input#check_btn + label{
  cursor:pointer;
 }

input#check_btn + label > span{
  vertical-align: middle;
  padding-left: 5px;
 }

/* label:before에 체크하기 전 상태 CSS */
input#check_btn + label:before{
  content:"";
  display:inline-block;
  width:17px;
  height:17px;
  border:2px solid #1ABB9C;
  border-radius: 4px;
  vertical-align:middle;
  }
  
/* label:before에 체크 된 상태 CSS */  
input#check_btn:checked + label:before{
  content:"";
  background-color:#1ABB9C;
  border-color:#1ABB9C;
  /*background-image: url('check_btn.png');*/
  background-repeat: no-repeat;
  background-position: 50%;
  }
</style>

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<!-- jQuery UI CSS CDN -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<!-- codemirror CDN URL -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
<!-- TOAST UI Editor CDN URL(CSS) -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<!-- TOAST UI Editor CDN URL(JS) -->
<script
	src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>
<link rel="stylesheet" th:href="@{/css/default.css}" />
<link rel="stylesheet" th:href="@{/css/content.css}" />
<link rel="stylesheet" th:href="@{/css/button.css}" />
<meta charset="UTF-8">
</head>



<!-- page content -->
<body class="nav-md">
<div layout:fragment="contentMagement">
	<!-- page content -->
	<div class="right_col" role="main">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>커뮤니티</h3>
				</div>
			</div>
			<div class="row" style="display: block;">
			<div class="col-md-12">
			<div class="x_panel">
				<div class="x_title">
				<h2 class="green">등록</h2>
					<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">Settings 1</a> 
									<a class="dropdown-item" href="#">Settings 2</a>
								</div>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
					
						<table class="tb tb_row" style="border: 1px solid black;">
							<colgroup>
								<col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
							</colgroup>
							
								<tbody>
									<tr>
										<th>카테고리</th>
										<td><select id="select" style="width: 200px;display:inline-block;" class="form-control" >
												<option value="D">잡담</option>
												<option value="A">노하우&팁</option>
												<option value="B">1:1 문의</option>
												<option value="C">전문인에게 묻는다</option>
											</select>
										</td>
										<th>비밀글 선택</th>	
										<td>
											<input type="checkbox" id="check_btn" /> <label for="check_btn"></label>
										</td>
									</tr>
									<tr>
										<th>제목 <span class="es">필수 입력</span></th>
										 <td>
											<input id="content-title" class="resizable_textarea form-control" placeholder="제목을 입력해주세요" />
										</td>
										<th>작성자 <span class="es">dddd</span></th>
										<td ><span th:text="${session.login?.userId}"></span></td>
									</tr>
								
								<!-- TOAST UI Editor가 들어갈 div태그 -->
								<tr>
									<th>내용 <span class="es">필수 입력</span></th>
									<td  colspan="4">
										<div id="editor" style="width:100%;"></div>
									
									</td>
								</tr>
								</tbody>
							</table>
							<br>
							<form id="insertColumn" action="" method="post" enctype="multipart/form-data">
								<!-- 로그인 유저아이디 <input type="hidden" name=mno value="${loginUser.memNo}"> -->
								<input type="hidden" name="boardCategory" value=""> 
								<input type="hidden" name="boardTitle" value=""> 
								<input type="hidden" name="boardContent" value="">
								<input type="hidden" name="noshow" value="">
								<input type="hidden" name="userId" value="">
							</form>
							
							<div align="center" style="width: 100%;bottom:0;">
								<button id="submit" onclick="submit(1);" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> 등록</button>
								<a href="community" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>취소</a>
							</div>			
						 </div>
						 </div>
						</div>
					</div>
						
					

<script>



					<!-- 이미지업로드-->	
                    const onUploadImage = async (blob, callback) => {
                        const formData = new FormData();
                        formData.append("image", blob);
                        formData.append("uri", window.location.pathname);
                        
          		      $.ajax({
                          type: "post",
                          url: "/ohnong/image_upload.do",
                          async: true,
                          data: formData,
                          processData: false,
                          contentType: false,
                          success: function (data) {
                            imageURL = data;
                            callback(imageURL, "image");
                          },
                          error: function (request, status, error) {
                            alert(request + ", " + status + ", " + error);
                          },
                        });
                      };
                      
                      <!-- TOAST UI Editor 생성 JavaScript 코드 -->
						const editor = new toastui.Editor({
							el: document.querySelector("#editor"),
							height: "600px",
							initialEditType: "wysiwyg",
							placeholder: "내용을 입력해주세요",
							language: "ko-kr",
							usageStatistics: false,
							syntaxHighlight:false,
							hooks: {
								addImageBlobHook: onUploadImage
							}
						});

						// editor.getHtml()을 사용해서 에디터 내용 수신
						// document.querySelector('#contents').insertAdjacentHTML('afterbegin' ,editor.getHTML());
						// 콘솔창에 표시
						//console.log(editor.getHTML());

						
						//글등록//
						function submit(num) {

							let boardTitle = $("#content-title").val(); //제목
							let boardContent = editor.getMarkdown(); //에디터써서 콘텐츠안에 이미지 같이있음.
							let boardCategory = $("select[class='form-control']").val();//카테고리
							let userId = "[[${session.login?.userId}]]";
							let noshow = $("#check_btn").is(":checked");
							
						
							
							if(editor.getMarkdown()==''){
								Swal.fire({
				                    icon: 'warning',
				                    title: '내용을 입력해주세요.'
				                });
								return false;
							}
							
							if(editor.getMarkdown().length > 1499){
								Swal.fire({
				                    icon: 'warning',
				                    title: "내용은 1500자 이내로 입력해주세요"
				                });
								return false;
							}
							
							if($("#content-title").val().length > 49){
								Swal.fire({
				                    icon: 'warning',
				                    title: "제목은 50자 이내로 입력해주세요"
				                });
								return false;
							}
							
							
							//비밀글
							if(noshow == true){
								var checkBox= 1;
							}else if(noshow == false){
								var checkBox= 0;
							}
							
							//유저아이디도 받아와야함...

							//등록
							if (num == 1) {
								//변수에 담아서  form에 담기
								$("#insertColumn").children().eq(0).attr("value", boardCategory);
								$("#insertColumn").children().eq(1).attr("value", boardTitle);
								$("#insertColumn").children().eq(2).attr("value", boardContent);
								$("#insertColumn").children().eq(3).attr("value", checkBox);
								$("#insertColumn").children().eq(4).attr("value", userId);

								//form submit하기
								$("#insertColumn").attr("action", "insert.do").submit();
							}
						};//글등록끝
</script>

				</div>
			</div>
		</div>

	<!-- /page content -->

</body>
</html>