<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutMagement}">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<meta charset="UTF-8">

<style>

.pageInfo_area{
    text-align: center;
    width: 50%;
}
.pagination2{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 20px;
}

.pagination2 li {
    display: inline;
    text-align: center;
}
/*숫자*/ 
.pagination2 a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #96a0ad;
    line-height: 1.5;
}
.pagefirst{
    margin-right: 15px;
}
.pagelast{
    margin-left: 15px;
}
.pagefirst:hover, .pagelast:hover, .arrowright:hover, .arrowleft:hover, .model .num:hover{
    color:#2e9cdf;
}
.pagination2 .move.active{
    cursor: default;
    color: #ffffff;
}
.pagination2 .move:active{
    outline: none;
}
.model .num {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-redius:100%;
    border-radius: 100%;
}
.model .num.active, .model .num:active{
    background-color: #2e9cdf;
    cursor: pointer;
}
.arrowleft{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10ox solid blue;
}

 a.active {
 	cursor:default;
 	color:#ffffff; 	
 }

  
  .search_area{
    text-align:center;
  }
  .search_area input{
    height: 30px;
    width: 250px;
  }
  .search_area button{
    height: 30px;
    width: 100px;
  }
   .search_area select{
  	height: 30px;
    width:150px;
  }
 .move:link {color: #2e9cdf; text-decoration: none; }
 .move:visited {color:purple;,text-decoration: overline;}
 .move:hover {color:#bbb;,text-decoration: underline;}
 
</style>
</head>
</th:block>
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="contentMagement">
	<style type="text/css">
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
	
	/* Firefox  */
	input[type='number'] {
	  -moz-appearance: textfield;
	}
	td {
		font-weight: bold;
	}
	</style>
	<!-- page content -->
	<div class="right_col" role="main">
		<div class="">
			<div class="col-md-12 col-sm-12  ">
				<!-- 검색기능 -->
				<div class="x_panel">
					<div class="x_title">
						<h4 style="color:black;font-weight: bold;">📃 불량품목 관리</h4>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<!--  
						<div style="display: inline-block">
							<p>농가이름
							<input type="text" id="farmName" th:value="농가1" readonly>
							</p>
						</div>
						<div style="display: inline-block">
							<p>등록자
							<input type="text" id="userName" th:value="user1" readonly>
							</p>
						</div>
					-->	
					<div>
						<form id="SearchForm" th:action="@{/defectiveList}" method="get" th:onSubmit="return check()">
							<div style="display: inline-block">
								<p><span style="font-weight: bold; color:black; font-size: 16px; margin-right: 10px;">품목</span>
								<select th:name="middleCatagori" id="catagoriSelect" style="border-radius: 4px; height: 25px; font-weight: bold; color:black; margin-bottom: 10px;">
									<option value="">분류선택</option>
									<option th:value="곡류">곡류</option>
									<option th:value="콩류">콩류</option>
									<option th:value="구근류">구근류</option>
									<option th:value="채소류">채소류</option>
									<option th:value="과실류">과실류</option>
									<option th:value="종실류">종실류</option>
									<option th:value="버섯류">버섯류</option>
								</select>
							
								<input type="text" name="name" placeholder="품목명" id="cropName" style="border-radius: 4px; border: 1px solid black;height: 25px; margin-left: 10px; margin-right: 100px;"/>
								</p>
							</div>
							<div style="display: inline-block">  
								<p><span style="font-weight: bold; color:black; font-size: 16px; margin-right: 10px;">등록기간</span>	
						    	<input name="startDate" type="date" id="startDate" style="border-radius: 4px; border: 1px solid black;height: 25px;padding: 0 10px;">
							    <span style="font-weight: bold; color:black; font-size: 16px; margin-right: 10px;">&nbsp&nbspㅡ&nbsp&nbsp</span>
							    <input name="endDate" type="date" id="endDate" style="border-radius: 4px; border: 1px solid black;height: 25px;padding: 0 10px;">
						  		</p>
						    </div>
						    <br>
						    <div style="display: inline-block;vertical-align:middle;">
								<p><span style="font-weight: bold; color:black; font-size: 16px; margin-right: 10px;">창고</span>
								<select th:name="warehouseCode" id="warehouseSelect" style="border-radius: 4px; height: 25px; font-weight: bold; color:black; margin-bottom: 10px;">
									<option value="0">-----------창고선택-----------</option>
									<th:block th:each="warehouseInfo : ${warehouseList }">
										<option th:value="${warehouseInfo.warehouseCode }" th:selected="${warehouseInfo.warehouseCode} eq ${cri.warehouseCode}">[[${warehouseInfo.warehouseName }]]</option>
									</th:block>
								</select>
								<input type="hidden" name="amount" th:value="${pageInfo.cri.amount }"/>
								<input type="hidden" name="pageNum" th:value="${pageInfo.cri.pageNum }"/>
								<button id="searchSubmit" type="submit" class="btn btn-secondary btn-sm" style="border: none; font-weight: bold; color:white; background: #2A3F54; height: 25px; padding:0 15px; margin-left: 25px;">조회</button>
								<button id="searchReset" type="reset" class="btn btn-secondary btn-sm" style="border: none; font-weight: bold; color:white; background: #2A3F54; height: 25px; padding:0 15px; margin-left: 5px;">초기화</button>
								</p>
							</div>
						</form>
					</div>
					
					<!-- 테이블 -->
					<div class="x_title">
						<h5 style="color:black;font-weight: bold;">🌽 불량품목 재고</h5>
						<div class="clearfix"></div>
					</div>

					<div class="x_content">
					<!-- 오버플로우 막을려고 클래스 끝에 # 넣었습니다  -->
						<div class="table-responsive#">
							<table class="table table-striped jambo_table bulk_action" style="width: 480px">
									<colgroup>
										<col style="width: 40%;" />
										<col style="width: 30%;" />
										<col style="width: 30%;" />
									</colgroup>
								<thead>
									<tr class="headings">
										<th class="column-title">품목명</th>
										<th class="column-title" style="color:red;">총 불량수량</th>
										<th class="column-title">단 위</th>
									</tr>
								</thead>

								<tbody>
									<tr class="even pointer" th:each="defectiveInfo : ${defectiveListTotal }">
										<td style="vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;" th:title="${defectiveInfo.name}" th:text="${defectiveInfo.name}" />
										<td style="vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;" th:title="${#numbers.formatInteger(defectiveInfo.defectiveCount, 0, 'COMMA')}" th:text="|${#numbers.formatInteger(defectiveInfo.defectiveCount, 0, 'COMMA')}" />
										<td style="vertical-align:middle" th:text="EA" />
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<!-- 테이블 -->
					<div class="x_title">
						<h5 style="color:black;font-weight: bold;">🌽 불량품목 정보</h5>
						<div class="clearfix"></div>
					</div>

					<div class="x_content">
						<div class="table-responsive#">
							<table class="table table-striped jambo_table bulk_action" style="table-layout:fixed;">
									<colgroup>
										<col style="display:none;width:0"/>
										<col style="display:none;width:0"/>
										<col style="width: 15%;" />
										<col style="width: 10%;" />
										<col style="width: 10%;" />
										<col style="width: 10%;" />
										<col style="width: 15%;" />
										<col style="width: 30%;" />
										<col style="width: 10%;" />
									</colgroup>
								<thead>
									<tr class="headings">
										<th style="display:none;"><input type="checkbox" id="check-all" class="flat"></th>
										<th style="display:none;" class="column-title">품목코드</th>
										<th class="column-title">품목명</th>
										<th  style="color:red;" class="column-title">불량수량</th>
										<th class="column-title">단 위</th>
										<th class="column-title">입고 날짜</th>
										<th class="column-title">창 고</th>
										<th class="column-title">불량사유</th>
										<th class="column-title">수정/삭제</th>
									</tr>
								</thead>

								<tbody>
									<tr class="even pointer" th:each="defectiveInfo : ${defectiveList }">
										<td style="display:none;" class="a-center"><input type="checkbox" class="flat"name="table_records"></td>
										<td style="display:none;" th:text="${defectiveInfo.itemCode}"/>
										<td style="vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;" th:title="${defectiveInfo.name}" th:text="${defectiveInfo.name}"/>
										<td style="vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;" th:title="${#numbers.formatInteger(defectiveInfo.defectiveCount, 0, 'COMMA')}" th:text="${#numbers.formatInteger(defectiveInfo.defectiveCount, 0, 'COMMA')}"/>
										<td style="vertical-align:middle" th:text="EA" />
										<td style="vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;" th:title="${#dates.format(defectiveInfo.registeDate,'yyyy-MM-dd')}" th:text="${#dates.format(defectiveInfo.registeDate,'yyyy-MM-dd')}"/>
										<td style="vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;" th:title="${defectiveInfo.warehouseName}" th:text="${defectiveInfo.warehouseName}"/>
										<td style="vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;" th:title="${defectiveInfo.explation}" th:text="${defectiveInfo.explation}"/>
										<td style="vertical-align:middle">
											<button type="button" th:id="updateForm+${defectiveInfo.defectiveNo}" th:onclick="updateForm([[${defectiveInfo.defectiveNo}]])" class="btn btn-warning btn-sm">수정</button>
											<button type="button" style="display: none;" th:id="update+${defectiveInfo.defectiveNo}" th:onclick="update([[${defectiveInfo.defectiveNo}]])" class="btn btn-warning btn-sm">완료</button>
											<button type="button" style="display: none;" th:id="cancel+${defectiveInfo.defectiveNo}" th:onclick="cancel([[${defectiveInfo.defectiveNo}]])" class="btn btn-primary btn-sm">취소</button>
											<button type="button" th:id="deleteBtn+${defectiveInfo.defectiveNo}" th:onclick="deleteBtn([[${defectiveInfo.defectiveNo}]])" class="btn btn-danger btn-sm">삭제</button>
										</td>
										<td style="display:none;" th:text="${defectiveInfo.cropNo}"/>
										<td style="display:none;" th:text="${defectiveInfo.warehouseCode}"/>
									</tr>
								</tbody>
							</table>
							
							<!--  페이징  -->
								<div class="pageInfo_area" style="width:100%; text-align: center;">
									<ul class="pagination2 model" th:each="page:${pageInfo}">
										<th:block
											th:with="start = ${page.startPage}, end = ${page.endPage} ">
											
											<!-- 이전 -->
											<li class="pageInfo_btn" th:if="${page.prev}"><a
												class="allowleft"
												th:text="'<'"></a></li>
											<!-- 숫자 -->
											<li class="pageInfo_btn"
												th:with="start = ${page.startPage}, end = ${page.endPage}"
												th:each="pageButton : ${#numbers.sequence(start, end)}">
												<a class="num"
												th:text=${pageButton}
												th:href="@{/defectiveList?pageNum={page}&amount=10 (page = ${pageButton},name = ${pageInfo.cri.name},middleCatagori=${pageInfo.cri.middleCatagori},startDate=${pageInfo.cri.startDate},endDate=${pageInfo.cri.endDate},warehouseCode=${pageInfo.cri.warehouseCode})}"
												th:classappend="${pageInfo.cri.pageNum == pageButton ? 'active':'' }"></a>
											</li>
											<!-- 다음 -->
											<li class="pageInfo_btn" th:if="${page.next}"><a
												class="arrowright"
												th:text="'>'"></a></li>
											
										</th:block>
									</ul>
								</div>
							
							<form th:action="@{defectiveList }" id="actionForm" method="get">
								<input type="hidden" name="pageNum" th:value="${pageInfo.cri.pageNum }">
								<input type="hidden" name="amount" th:value="${pageInfo.cri.amount }">
								<input type="hidden" name="name" th:value="${pageInfo.cri.name }">
								<input type="hidden" name="middleCatagori" th:value="${pageInfo.cri.middleCatagori }">
								<input type="hidden" name="startDate" th:value="${pageInfo.cri.startDate }">
								<input type="hidden" name="endDate" th:value="${pageInfo.cri.endDate }"> 
								<input type="hidden" name="warehouseCode" th:value="${pageInfo.cri.warehouseCode }">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->
	<script>
		$(document).ready(function(){
			//페이징
			let actionForm = $("#actionForm");
			console.log(actionForm);
		    $('.paginate_button a').on('click', function (e) {
	        	actionForm.find('input[name="pageNum"]').val($(this).attr('href'))
		    	e.preventDefault();
		        actionForm.submit();
        	})
		    
        	//검색
	        //검색후 값 유지
			$('#catagoriSelect').val('[[${param.middleCatagori}]]');
		    $('#cropName').val('[[${param.name}]]');
			$('#startDate').val('[[${param.startDate}]]');
			$('#endDate').val('[[${param.endDate}]]');
			
	        let SearchForm = $("#SearchForm");
		    $("#SearchForm > #searchSubmit").on("click", function(e){
		    	let catagoriSelect = $("#catagoriSelect").val();
				let name = $("#SearchForm input[name='name']").val();
				let warehouseSelect = $("#warehouseSelect").val();
				let startDate = $("#startDate").val();
				let endDate = $("#endDate").val();
				let warehouseName = $("#houseName").val(); 
				
		    	actionForm.find("input[name='middleCatagori']").val(catagoriSelect);
				actionForm.find("input[name='name']").val(name);
				actionForm.find("input[name='warehouseCode']").val(warehouseSelect);
				actionForm.find("input[name='startDate']").val(startDate);
				actionForm.find("input[name='endDate']").val(endDate);
				actionForm.find("input[name='warehouseName']").val(warehouseName);
				actionForm.find("input[name='pageNum']").val(1);
				e.preventDefault();
				actionForm.submit();
		    })
			
		});
		
		//초기화
		$("#searchReset").on('click', function(e){
			e.preventDefault();
			$("#warehouseSelect").val(0);
			$("#catagoriSelect").val("");
			$("#startDate").val("");
			$("#endDate").val("");
			$("#SearchForm input[name='name']").val("");
			document.getElementById('searchSubmit').click();
		})
		
		//조회버튼 클릭시 체크
		function check(){
			let catagoriSelect = $("#catagoriSelect").val();
			let name = $("#SearchForm input[name='name']").val();
			
			//분류만 선택시 알림
			if(catagoriSelect){
				if(!name){
					const Toast = Swal.mixin({
	                    toast: true,
	                    position: 'center-center',
	                    showConfirmButton: false,
	                    timer: 500,
	                    timerProgressBar: true,
	                    didOpen: (toast) => {
	                      toast.addEventListener('mouseenter', Swal.stopTimer)
	                      toast.addEventListener('mouseleave', Swal.resumeTimer)
	                    }
	                  })

	                  Toast.fire({
	                    icon: 'warning',
	                    title: '품목명을 입력하세요.'
	                  })
					return false;
				}
			}
			
			if(name){
				if(!catagoriSelect){
					const Toast = Swal.mixin({
	                    toast: true,
	                    position: 'center-center',
	                    showConfirmButton: false,
	                    timer: 500,
	                    timerProgressBar: true,
	                    didOpen: (toast) => {
	                      toast.addEventListener('mouseenter', Swal.stopTimer)
	                      toast.addEventListener('mouseleave', Swal.resumeTimer)
	                    }
	                  })

	                  Toast.fire({
	                    icon: 'warning',
	                    title: '분류를 선택하세요.'
	                  })
					return false;
				}
			}
			
			//날짜 둘다 입력 체크 + 시작일 > 종료일인경우 체크
			var stDt = $('#startDate').val();
		    var edDt = $('#endDate').val();
		    
		    if(stDt == '' && edDt != ''){
		    	const Toast = Swal.mixin({
                    toast: true,
                    position: 'center-center',
                    showConfirmButton: false,
                    timer: 500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener('mouseenter', Swal.stopTimer)
                      toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                  })

                  Toast.fire({
                    icon: 'warning',
                    title: '시작일과 종료일을 입력하세요.'
                  })
		     	return false;
		    } 
		    
		    if (stDt != '' && edDt == ''){
		    	const Toast = Swal.mixin({
                    toast: true,
                    position: 'center-center',
                    showConfirmButton: false,
                    timer: 500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener('mouseenter', Swal.stopTimer)
                      toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                  })

                  Toast.fire({
                    icon: 'warning',
                    title: '시작일과 종료일을 입력하세요.'
                  })
			    return false;
		    } 
	    	
		    if( Number(stDt.replace(/-/gi,"")) > Number(edDt.replace(/-/gi,"")) ){
		    	const Toast = Swal.mixin({
                    toast: true,
                    position: 'center-center',
                    showConfirmButton: false,
                    timer: 500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener('mouseenter', Swal.stopTimer)
                      toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                  })

                  Toast.fire({
                    icon: 'warning',
                    title: '시작일이 종료일보다 클 수 없습니다.'
                  })
		     	return false;
		    }
		}
		
		//테이블 수정,삭제
		let updateFormBtn, updateBtn, trTag, itemCodeTag, itemNameTag, registDateTag,
			defectiveCountTag, unitTag, warehouseNameTag, warehouseCodeTag, explationTag;
		let itemCode, itemName, defectiveCount, warehouseName,
			selectTag, warehouseCode, explation, defectiveCountOr;
		let inpCount, inpItemName, inpItemCode, cropNo, inpExplation;
		let pageNum = [[${pageInfo.cri.pageNum}]];
		
		//수정폼으로 전환
		function updateForm(defectiveNo){
			updateFormBtn = document.getElementById('updateForm' + defectiveNo);
	    	updateFormBtn.style.display = 'none';
	    	
	    	deleteBtn = document.getElementById('deleteBtn' + defectiveNo);
	    	deleteBtn.style.display = 'none';
	    	
	    	updateBtn = document.getElementById('update' + defectiveNo);
	    	updateBtn.style.display = 'inline-block';
	    	
	    	cancelBtn = document.getElementById('cancel' + defectiveNo);
	    	cancelBtn.style.display = 'inline-block';
	    	
	    	trTag = updateFormBtn.parentElement.parentElement;
	    	checkBoxTag = trTag.childNodes[1];
	    	itemCodeTag = trTag.childNodes[3];
	    	itemNameTag = trTag.childNodes[5];
	    	defectiveCountTag = trTag.childNodes[7];
	    	unitTag = trTag.childNodes[9];
	    	registDateTag = trTag.childNodes[11];
	    	warehouseNameTag = trTag.childNodes[13];
			explationTag = trTag.childNodes[15];
	    	cropNo = trTag.childNodes[19].textContent;
	    	warehouseCodeTag = trTag.childNodes[21];
	    	
	    	fetch("/ohnong/warehouseList/" + "[[${session.login.userId}]]")
		   	.then(resolve => resolve.json())
		   	.then(result => {
		   		//DefectiveCount
		   		defectiveCount = defectiveCountTag.textContent;
		   		defectiveCountOr = defectiveCountTag.textContent;
		   		defectiveCountTag.innerHTML = '';
		   		
		   		inpCount = document.createElement('input');
		   		inpCount.setAttribute("id","co");
		   		inpCount.addEventListener('input', function(){
		   			let co = $('#co').val();
		   			co = Number(co.replaceAll(',',''));
		   			if(isNaN(co)){
		   				$('#co').val(defectiveCount);
		   			} else {
		   				let formatCo = co.toLocaleString('ko-KR');
		   				$('#co').val(formatCo);
		   			}
		   		});
		   		
		   		inpCount.value = defectiveCount;
		   		inpCount.style.width = '100%';
		   		defectiveCountTag.append(inpCount);
		   		//WarehouseName
		   		warehouseName = warehouseNameTag.textContent;
		   		warehouseCode = warehouseCodeTag.textContent;
		   		warehouseNameTag.innerHTML = '';
		   		
		   		selectTag = document.createElement('select');
				for(let i=0;i<result.length;i++){
					let optionTag = document.createElement('option');
					optionTag.value = result[i].warehouseCode;
					optionTag.innerText = result[i].warehouseName;
					selectTag.append(optionTag);
				}
				selectTag.style.width = '100%';
		   		warehouseNameTag.append(selectTag);
		   		selectTag.value = warehouseCode;
		   		
		   		//Explation
		   		explation = explationTag.textContent;
		   		explationTag.innerHTML = '';
		   		inpExplation = document.createElement('input');
		   		inpExplation.value = explation;
		   		inpExplation.style.width = '100%';
		   		explationTag.append(inpExplation);
		   	})
		   	.catch(reject => console.log(reject))
	    }
		
		//취소
		function cancel(defectiveNo){
			location.reload();
			defectiveCountTag.innerHTML = defectiveCountOr;
	   		warehouseNameTag.innerHTML = warehouseName;
	   		explationTag.innerHTML = explation;
	   		
	   		updateFormBtn = document.getElementById('updateForm' + defectiveNo);
	    	updateFormBtn.style.display = 'inline-block';
	    	
	    	deleteBtn = document.getElementById('deleteBtn' + defectiveNo);
	    	deleteBtn.style.display = 'inline-block';
	    	
	    	updateBtn = document.getElementById('update' + defectiveNo);
	    	updateBtn.style.display = 'none';
	    	
	    	cancelBtn = document.getElementById('cancel' + defectiveNo);
	    	cancelBtn.style.display = 'none';
		}
		
		//수정
		function update(defectiveNo){
			let newWarehouseCode = selectTag.value;
			let newWarehouseName = selectTag.options[selectTag.selectedIndex].text;
			let newDefectiveCount = inpCount.value;
			newDefectiveCount = newDefectiveCount.replaceAll(',','');
			let newExplation = inpExplation.value;
			
			$.ajax({
				type : 'post',
				url : '/ohnong/defectiveUpdate',
				dataType : 'text',
				data : {
						"defectiveNo" : defectiveNo,
						"defectiveCount" : newDefectiveCount,
						"warehouseCode" : newWarehouseCode,
						"explation" : newExplation
				},
				success : function(data){
					//itemCodeTag.innerText = newItemCode;
					//itemNameTag.innerText = newItemName;
					//countTag.innerText = newCount;
					//warehouseNameTag.innerText = newWarehouseName;
			    	//updateFormBtn.style.display = 'inline-block';
			    	//updateBtn.style.display = 'none';
					const Toast = Swal.mixin({
	                    toast: true,
	                    position: 'center-center',
	                    showConfirmButton: false,
	                    timer: 500,
	                    timerProgressBar: true,
	                    didOpen: (toast) => {
	                      toast.addEventListener('mouseenter', Swal.stopTimer)
	                      toast.addEventListener('mouseleave', Swal.resumeTimer)
	                    }
	                  })

	                  Toast.fire({
	                    icon: 'success',
	                    title: '수정 되었습니다.'
	                  })
					setTimeout(function(){location.reload()}, 500);
				},
				error : function(status, error){
					console.log(status, error);
				}
			})
			
		}
		
		//삭제
		function deleteBtn(defectiveNo){
			let deleteBtn = document.getElementById('deleteBtn' + defectiveNo);
			let delTrTag = deleteBtn.parentElement.parentElement;
			
			Swal.fire({
	            title: '삭제 하시겠습니까?',
	            icon: 'warning',
	            showCancelButton: true,
	            confirmButtonColor: '#3085d6',
	            cancelButtonColor: '#d33',
	            confirmButtonText: '확인',
	            cancelButtonText: '취소'
	        }).then((result) => {
	            if (result.isConfirmed) {
	            	$.ajax({
						type : 'get',
						url : "/ohnong/defectiveDelete/" + defectiveNo,
						dataType : 'text',
						success : function(data){
							console.log(data);
							if(data == 'success'){
								//delTrTag.remove();
								location.reload();
								const Toast = Swal.mixin({
				                    toast: true,
				                    position: 'center-center',
				                    showConfirmButton: false,
				                    timer: 500,
				                    timerProgressBar: true,
				                    didOpen: (toast) => {
				                      toast.addEventListener('mouseenter', Swal.stopTimer)
				                      toast.addEventListener('mouseleave', Swal.resumeTimer)
				                    }
				                  })

				                  Toast.fire({
				                    icon: 'warning',
				                    title: '불량내역이 삭제 되었습니다.'
				                  })
							} else if(data = 'fail'){
								const Toast = Swal.mixin({
				                    toast: true,
				                    position: 'center-center',
				                    showConfirmButton: false,
				                    timer: 500,
				                    timerProgressBar: true,
				                    didOpen: (toast) => {
				                      toast.addEventListener('mouseenter', Swal.stopTimer)
				                      toast.addEventListener('mouseleave', Swal.resumeTimer)
				                    }
				                  })

				                  Toast.fire({
				                    icon: 'warning',
				                    title: '오류.'
				                  })
							}
						},
						error : function(status, error){
							console.log(status, error);
						}
					})
			     }
		    })
		}		
	</script>
</div>



