<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutMagement}">
<head>
<meta charset="UTF-8">
<title>oh-nong!</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<style>

.pageInfo_area{
    text-align: center;
    width: 50%;
}
.pagination2{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 20px;
}

.pagination2 li {
    display: inline;
    text-align: center;
}
/*숫자*/ 
.pagination2 a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #96a0ad;
    line-height: 1.5;
}
.pagefirst{
    margin-right: 15px;
}
.pagelast{
    margin-left: 15px;
}
.pagefirst:hover, .pagelast:hover, .arrowright:hover, .arrowleft:hover, .model .num:hover{
    color:#2e9cdf;
}
.pagination2 .move.active{
    cursor: default;
    color: #ffffff;
}
.pagination2 .move:active{
    outline: none;
}
.model .num {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-redius:100%;
    border-radius: 100%;
}
.model .num.active, .model .num:active{
    background-color: #2e9cdf;
    cursor: pointer;
}
.arrowleft{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10ox solid blue;
}

 a.active {
 	cursor:default;
 	color:#ffffff; 	
 }

  
  .search_area{
    text-align:center;
  }
  .search_area input{
    height: 30px;
    width: 250px;
  }
  .search_area button{
    height: 30px;
    width: 100px;
  }
   .search_area select{
  	height: 30px;
    width:150px;
  }
 .move:link {color: #2e9cdf; text-decoration: none; }
 .move:visited {color:purple;,text-decoration: overline;}
 .move:hover {color:#bbb;,text-decoration: underline;}
 
</style>
<!-- 구글차트 -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
</th:block>
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="contentMagement">
	<style type="text/css">
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
	
	/* Firefox  */
	input[type='number'] {
	  -moz-appearance: textfield;
	}
	td {
		font-weight: bold;
	}
	modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	}
	
	.modal.show {
		display: block;
	}
	
	.modal_body {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 600px;
		height: 300px;
		/* padding: 40px; */
		/* text-align: center; */
		background-color: rgb(255, 255, 255);
		border-radius: 10px;
		box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
		transform: translateX(-50%) translateY(-50%);
	}
	
	.m_head {
		height: 15%;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		background-color: #2A3F54;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.m_body {
		height: 70%;
		padding: 20px;
	}
	
	.m_footer {
		height: 15%;
		padding: 10px;
		background-color: #2A3F54;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		display: flex;
		justify-content: end;
	}
	
	.modal_title {
		font-size: 18px;
		color: gray;
		font-weight: 500;
	}
	
	.close_btn {
		font-size: 20px;
		color: rgb(139, 139, 139);
		font-weight: 900;
		cursor: pointer;
	}
	
	.modal_label {
		padding: 2px 0px 2px 0px;
		background-color: skyblue;
		width: 80px;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		text-align: center;
		color: black;
		margin-top: 10px;
		opacity: 0.7;
		font-weight: bolder;
	}
	
	.modal_btn {
		width: 80px;
		height: 30px;
		border-radius: 5px;
		text-align: center;
		font-size: 14px;
		font-weight: bolder;
		padding-top: 5px;
		margin-left: 5px;
		font-family: sans-serif;
		cursor: pointer;
	}
	
	.cancle {
		background-color: white;
		color: black;
	}
	
	.save {
		background-color: rgb(50, 77, 158);
		color: white;
	}
	
	.input_box {
		width: 130px;
		height: 25px;
		vertical-align: middle;
	}
	</style>
	<!-- page content -->
	<div class="right_col" role="main">
		<div class="">
			<div class="col-md-12 col-sm-12">
				<!-- 검색기능 -->
				<div class="x_panel" style="width:1430px;height:900px;">
					<div class="x_title">
						<h4 style="color:black;font-weight: bold;">📃 지출내역</h4>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<!--  
						<div style="display: inline-block">
							<p>농가이름
							<input type="text" id="farmName" th:value="농가1" readonly>
							</p>
						</div>
						<div style="display: inline-block">
							<p>등록자
							<input type="text" id="userName" th:value="user1" readonly>
							</p>
						</div>
					-->
					<div>
						<form id="SearchForm" th:action="@{/costList}" method="get" name="a">
							<div style="display: inline-block">  
								<p><span style="font-weight: bold; color:black; font-size: 16px; margin-right: 10px;">등록기간</span>
						    	<input name="startDate" type="date" id="startDate" style="border-radius: 4px; border: 1px solid black;height: 25px;padding: 0 10px;">
							    <span style="font-weight: bold; color:black; font-size: 16px; margin-right: 10px;">&nbsp&nbspㅡ&nbsp&nbsp</span>
							    <input name="endDate" type="date" id="endDate" style="border-radius: 4px; border: 1px solid black;height: 25px;padding: 0 10px;">
								<button id="searchSubmit" type="submit" class="btn btn-secondary btn-sm" style="border: none; font-weight: bold; color:white; background: #2A3F54; height: 25px; padding:0 15px; margin-left: 25px;">조회</button>
						  		<button id="searchReset" th:onclick="resetData()" type="reset" class="btn btn-secondary btn-sm" style="border: none; font-weight: bold; color:white; background: #2A3F54; height: 25px; padding:0 15px; margin-left: 5px;">초기화</button>
						  		</p>
						    </div>
						</form>
					</div>
					
					<!-- 테이블 -->
					<div class="x_title">
						<h5 style="color:black;font-weight: bold;">💸 유형별 지출정보&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp💸 상세 지출정보</h5>
						<div class="clearfix"></div>
					</div>

					<div style="width:300px;float:left;">
						<div class="table-responsive#" >
							<table id="table" class="table table-striped jambo_table bulk_action" style="table-layout:fixed;">
								<thead>
									<tr class="headings">
										<th width="120" class="column-title">지출유형</th>
										<th width="150" style="color:red;" class="column-title">총 지출금액</th>
										<th class="bulk-actions" colspan="7"><a class="antoo"
											style="color: #fff; font-weight: 500;">Bulk Actions ( <span
												class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
										</th>
									</tr>
								</thead>

								<tbody>
									<tr class="even pointer" th:each="costInfo : ${totalCostList }" th:onclick="viewTable([[${costInfo.middleCategori}]],1)">
										<td style="vertical-align:middle" th:text="${costInfo.middleCategori}"/>
										<td style="vertical-align:middle" class="totalCash" th:text="|${#numbers.formatInteger(costInfo.total, 0, 'COMMA')}원|"/>
									</tr>
									<tr>
										<td style="background-color:#2A3F54;color:white;">총 누적금액</td>
										<td style="vertical-align:middle;background-color:#2A3F54;color:white;" id="totalCash"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div style="width:500px;float:left;" id="viewTable">
						<table class="table table-striped jambo_table bulk_action" style="table-layout:fixed;width:500px">
							<thead>
								<tr class="headings">
									<th width="90"><input type="checkbox" id="check-all" class="flat"></th>
									<th width="150" class="column-title">지출날짜</th>
									<th width="150" class="column-title">지출유형</th>
									<th width="200" class="column-title">지출내용</th>
									<th width="150" style="color:red;" class="column-title">지출금액</th>
									<th width="350" class="column-title">상세내용</th>
									<th class="bulk-actions" colspan="7"><a class="antoo"
										style="color: #fff; font-weight: 500;">Bulk Actions ( <span
											class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
									</th>
								</tr>
							</thead>
							
						</table>
					</div>
					<div id="chart_div" style="width:100%;margin-top:520px;margin-left: 20px;"></div>
					
				</div>
				
			</div>
		</div>
	</div>
	<!-- /page content -->
	<!-- insert modal -->
	<div class="modal" id="registrationModal">
	    <div class="modal_body" style="height:274px;">
	        <div class="m_head" style="height:15%">
	            <div class="modal_title" style="color: white; font-weight: bolder">
	                📃지출 등록
	            </div>
	            <div class="close_btn" id="close_btn">X</div>
	        </div>
	
	        <form id="insertCostForm" th:action="@{/costInsert}" method="POST" th:onSubmit="return Checkform()">
	            <div class="m_body">
	                
	                <div style="display: flex; align-items: center;">
	                    <div class="modal_label" style="display: inline-block;margin-top: 0;margin-right:10px;">
	                        분류
	                    </div>
	                    <select th:name="middleCategori" id="middleCategori">
	                        <option value="">분류선택</option>
	                        <option th:value="인건비" selected>인건비</option>
	                    </select>
	                </div>
	
	                <div style="display: flex; align-items: center;">
	                    <div class="modal_label" style="display: inline-block;">
	                        등록날짜
	                    </div>
	                    <input name="startDate" type="date" id="registeDate" style="margin-top: 10px;margin-left: 10px;width: 183px;">
	                </div>
	
	                <div style="display: flex; align-items: center;">
	                    <div class="modal_label" style="display: inline-block;">
	                        지출금액
	                    </div>
	                    <input type="text" value=0 id="cash" min="0" th:onkeyup="valueUpdate()" style="margin-top: 10px;margin-left: 10px;">
	                    <input name="cash" type="hidden" id="cashHidden">
	                    <input type="hidden" name="mainCategori" value="인건비">
	                </div>
	                
	                <div style="display: flex; align-items: center;">
	                    <div class="modal_label" style="display: inline-block;">
	                        상세내용
	                    </div>
	                    <input name="explation" type="text" id="explation" style="margin-top: 10px;margin-left: 10px;width: 460px;">
	                </div>
	            </div>
	    
	            <div class="m_footer">
	                <div class="btn btn-secondary" id="close_btn" th:onclick="resetModal()" style="padding-top: 2px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;width: 70px;height: 30px;">초기화</div>
	                <button type="submit" id="submitInsert" style="background-color: #1ABB9C;border: none;height: 30px;width: 70px;padding-top: 3px;" class="btn btn-primary">저장</button>
	            </div>
	        </form> 
	    </div>
	</div>
    <!-- insert modal -->
	<script>
		$(document).ready(function(){
			
			fetch("/ohnong/getCost")
			.then(resolve => resolve.json())
			.then(result => {
				console.log(result);
				if(result.middleCategori == null){
					
				} else {
					viewTable(result.middleCategori, 1);
				}
			})
			.catch(reject => {
			    console.log(reject);
			})
			
			
	        //검색
	        //검색후 값 유지
			$('#startDate').val('[[${param.startDate}]]');
			$('#endDate').val('[[${param.endDate}]]');
			
	        let SearchForm = $("#SearchForm");
		    $("#SearchForm button").on("click", function(e){
				let startDate = $("#startDate").val();
				let endDate = $("#endDate").val();
				
				//날짜 둘다 입력 체크 + 시작일 > 종료일인경우 체크
				var stDt = $('#startDate').val();
			    var edDt = $('#endDate').val();
			    
			    if(stDt == '' && edDt != ''){
			     	const Toast = Swal.mixin({
	                    toast: true,
	                    position: 'center-center',
	                    showConfirmButton: false,
	                    timer: 500,
	                    timerProgressBar: true,
	                    didOpen: (toast) => {
	                      toast.addEventListener('mouseenter', Swal.stopTimer)
	                      toast.addEventListener('mouseleave', Swal.resumeTimer)
	                    }
	                  })

	                  Toast.fire({
	                    icon: 'warning',
	                    title: '시작일과 종료일을 입력하세요.'
	                  })
			     	return false;
			    } 
			    
			    if (stDt != '' && edDt == ''){
			    	const Toast = Swal.mixin({
	                    toast: true,
	                    position: 'center-center',
	                    showConfirmButton: false,
	                    timer: 500,
	                    timerProgressBar: true,
	                    didOpen: (toast) => {
	                      toast.addEventListener('mouseenter', Swal.stopTimer)
	                      toast.addEventListener('mouseleave', Swal.resumeTimer)
	                    }
	                  })

	                  Toast.fire({
	                    icon: 'warning',
	                    title: '시작일과 종료일을 입력하세요.'
	                  })
				    return false;
			    } 
		    	
			    if( Number(stDt.replace(/-/gi,"")) > Number(edDt.replace(/-/gi,"")) ){
			     	const Toast = Swal.mixin({
	                    toast: true,
	                    position: 'center-center',
	                    showConfirmButton: false,
	                    timer: 500,
	                    timerProgressBar: true,
	                    didOpen: (toast) => {
	                      toast.addEventListener('mouseenter', Swal.stopTimer)
	                      toast.addEventListener('mouseleave', Swal.resumeTimer)
	                    }
	                  })

	                  Toast.fire({
	                    icon: 'warning',
	                    title: '시작일이 종료일보다 클 수 없습니다.'
	                  })
			     	return false;
			    }
				
				actionForm.find("input[name='startDate']").val(startDate);
				actionForm.find("input[name='endDate']").val(endDate);
				e.preventDefault();
				actionForm.submit();
				var tbody = document.querySelector('#tbodyH');
				// 높이 변경
				tbody.style.height = '100px';
				
		    })
		    
		   	//총 누적금액
		   	var totalSum = 0;
	        var total = 0;
		    
	    	$('.totalCash').each(function(index,item){
	    		console.log(index);
	    		console.log(item);
	    		let sum = (item.innerText).replaceAll(',','');
	    		sum = Number(sum.replaceAll('원',''));
	    		total = total + sum;
	    		totalSum = total.toLocaleString('ko-KR') + "원";
	    	});
	    	
	    	$("#totalCash").text(totalSum);
		   
		});
		
		function resetData(){
			$("#startDate").val("");
			$("#endDate").val("");
			document.getElementById('searchSubmit').click();
		}
		
		$(document).on("click", "#registration", function(e) {
			e.preventDefault();
			$('#registrationModal').modal("show");
		});
		
		//모달 hide
	    $("#close_btn").click(function(){
			 $('#registrationModal').modal('hide');
		});
    	
    	//지출등록 - 등록일 현재일 입력
	    document.getElementById('registeDate').value = new Date().toISOString().substring(0, 10);
		
		//지출등록 - 모달창 초기화(기본값 유지)
		function resetModal(){
			$('#insertCostForm')[0].reset();
			$("#cash").val(0);
			$('#cashHidden').val(0);
			$("#explation").val();
			document.getElementById('registeDate').value = new Date().toISOString().substring(0, 10);
		}
		
		//지출등록 - submit시 입력값 체크
		function Checkform(){
			if(insertCostForm.middleCategori.value == "") {
		        const Toast = Swal.mixin({
                    toast: true,
                    position: 'center-center',
                    showConfirmButton: false,
                    timer: 500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener('mouseenter', Swal.stopTimer)
                      toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                  })

                  Toast.fire({
                    icon: 'warning',
                    title: '분류를 선택해주세요.'
                  })
		        return false;
		    }
			if(insertCostForm.startDate.value == "") {
		        const Toast = Swal.mixin({
                    toast: true,
                    position: 'center-center',
                    showConfirmButton: false,
                    timer: 500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener('mouseenter', Swal.stopTimer)
                      toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                  })

                  Toast.fire({
                    icon: 'warning',
                    title: '등록일을 입력해주세요.'
                  })
		        return false;
		    }
			if(insertCostForm.cashHidden.value == "") {
		        const Toast = Swal.mixin({
                    toast: true,
                    position: 'center-center',
                    showConfirmButton: false,
                    timer: 500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener('mouseenter', Swal.stopTimer)
                      toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                  })

                  Toast.fire({
                    icon: 'warning',
                    title: '지출금액을 입력해주세요.'
                  })
		        return false;
		    }
			
			if(!insertCostForm.explation.value){
				insertCostForm.explation.value = " ";
			}
            
			const Toast = Swal.mixin({
                toast: true,
                position: 'center-center',
                showConfirmButton: false,
                timer: 500,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
              })

              Toast.fire({
                icon: 'success',
                title: '등록 되었습니다.'
              })
		}
		
		$('#cash').change(function(){
			let cash = Number($(this).val().replaceAll(',',''));
			$('#cashHidden').val(cash);
		});
		
		function valueUpdate(){
			let pCash = $('#cash').val();
			
			pCash = Number(pCash.replaceAll(',', ''));
		    
		    if(isNaN(pCash)){
		    	
		    	$('#cash').val(0);
		    	const Toast = Swal.mixin({
                    toast: true,
                    position: 'center-center',
                    showConfirmButton: false,
                    timer: 500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener('mouseenter', Swal.stopTimer)
                      toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                  })

                  Toast.fire({
                    icon: 'warning',
                    title: '숫자만 입력가능합니다.'
                  })
                  
		    }else {
		    	let formatCash = pCash.toLocaleString('ko-KR');
				$('#cash').val(formatCash);
		    }
		    
		}
		var middle = '';
		
		function viewTable(middleCategori, pageNum){
			console.log(middle);
			console.log(pageNum);
			let startDate = '[[${param.startDate}]]';
			let endDate = '[[${param.endDate}]]';
			if(!pageNum){
				pageNum = 1;
				console.log(pageNum);
			}
			
			if(!startDate && !endDate){
				fetch("/ohnong/costListWithPaging/" + middleCategori + "/" + pageNum)
				.then(resolve => resolve.json())
				.then(result => {
					console.log(result);
					$("#viewTable").empty();		
					let table = '';
					table += `<div><table class="table table-striped jambo_table bulk_action" style="table-layout:fixed;">`;
					table += `<thead>
					            <tr class="headings">
					                <th width="160" class="column-title">지출날짜</th>
					                <th width="160" class="column-title">지출유형</th>
					                <th width="160" class="column-title">지출내용</th>
					                <th width="170" style="color:red;" class="column-title">지출금액</th>
					                <th width="440" class="column-title">상세내용</th>
					                <th class="bulk-actions" colspan="7"><a class="antoo"
					                    style="color: #fff; font-weight: 500;">Bulk Actions ( <span
					                    class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
					                </th>
					            </tr>
					        </thead>`;
					table += `<tbody id='tbodyH' style="height:350px; width:1090px;overflow-y:auto;overflow-x: hidden; display:block;">`;
					for (let i = 0; i < result.length; i++) {
					    let formCash = result[i].cash;
					    formCash = formCash.toLocaleString('ko-KR') + "원";
					    table += `<tr class="even pointer">
					                <td style="width:160px; vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">` + result[i].today + `</td>
					                <td style="width:160px; vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">` + result[i].middleCategori + `</td>
					                <td style="width:160px; vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">` + result[i].detail + `</td>
					                <td style="width:170px; vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;" class="cash">` + formCash + `</td>
					                <td style="width:440px; vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">` + result[i].explation + `</td>
					            </tr>`;
					}
					table += `</tbody></table></div>`;
					$("#viewTable").append(table);
					let button = `<button type="button" id="registration" class="btn btn-secondary btn-sm" style="border: none;font-weight: bold;color: white;background: #2A3F54;height: 30px;padding: 0 15px;margin-left: 1000px;width: 90px;">지출등록</button>`;
					$("#viewTable").append(button);
					
					// 중복을 제외한 날짜를 받을 배열
					var uniqueDays=[];
					// 날짜별 금액
					var cashByDay={}
					fetch("/ohnong/costList/"+ middleCategori)
					  .then(resolve => resolve.json())
					  .then(result =>{
					    console.log(result[1].detail)
					    uniqueDays.splice(0, uniqueDays.length);
					    uniqueDays = Array.from(new Set(result.map(item => item.today)));
					    uniqueDays.forEach(day => {
					      const costsOnDay = result.filter(item => item.today === day); // 해당 날짜의 데이터만 필터링
					      const cashOnDay = costsOnDay.reduce((acc, item) => acc + item.cash, 0); // 해당 날짜의 비용 총합 계산
					      cashByDay[day] = cashOnDay; // 날짜별 총 비용 저장
					    });

					    // 날짜별 총 비용 출력
					    console.log(cashByDay);

					    google.charts.load('current', {'packages':['corechart']});
					    google.charts.setOnLoadCallback(drawChart);

					    function drawChart() {
					    	  var data = new google.visualization.DataTable();
					    	  data.addColumn('string', '날짜');
					    	  data.addColumn('number', '비용');

					    	  // 데이터 채우기
					    	  Object.keys(cashByDay).forEach(function(day) {
					    	    data.addRow([day, cashByDay[day]]);
					    	  });

					    	  var options = {
					    	    title: '날짜별 비용',
					    	    legend: { position: 'none' },
					    	    hAxis: {
					    	      title: '비용'
					    	    },
					    	    colors: ['#FF5733', '#008080', '#FFC300', '#3F51B5'] // 막대 색상을 지정합니다.
					    	  };

					    	  var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

					    	  chart.draw(data, options);
					    	}
					  })
					  .catch(reject => {
					    console.log(reject);
					  })
					
					fetch("/ohnong/getTotalCount/" + middleCategori + "/" + pageNum)
					.then(resolve => resolve.json())
					.then(result => {
						console.log(result);
						
						var currentPage = result.cri.pageNum;
						var startPage = result.startPage;
						var endPage = result.endPage;
						var prev = result.startPage!= 1;
						var next = result.readEnd > result.endPage;
						
						let paging = '';
						
						$("#viewPaging").empty();	
						
						paging += `<div class="pageInfo_area" style="width:100%; text-align: center;margin-left:300px;"><ul class="pagination2 model">`;
				        if(prev){
				        	result.startPage = result.startPage - 1;
				          	paging += "<li class='pageInfo_btn'><a class='allowleft num ' href='javascript:void(0);' onclick='viewTable(" + 'middle' + ',' + result.startPage +")'>이전 </a></li>";
				        }
				        middle = middleCategori;
				        for(var i = startPage; i <= endPage; i++){
							var active = currentPage == i ? "active":"";
							paging += "<li class='pageInfo_btn  '><a class='num "+active+"' href='javascript:void(0);' onclick='viewTable(" + 'middle' + ',' + i +")'>"+i+"</a></li>"
						}
				        if(next){
				        	result.endPage = result.endPage + 1;
				        	paging += "<li class='pageInfo_btn'><a class='arrowright num ' href='javascript:void(0);' onclick='viewTable(" + 'middle' + ',' + result.endPage +")'>다음 </a></li>";
				        }
				        paging += `</ul></div>`;
				        
				        $("#viewTable").append(paging);
					})
					.catch(reject => {
						console.log(reject);
					})
					
				})
				.catch(reject => {
					console.log(reject);
				})
			} else{
				fetch("/ohnong/costListWithPagingDate/" + middleCategori + "/" + startDate + "/" + endDate + "/" + pageNum)
				.then(resolve => resolve.json())
				.then(result => {
					console.log(result);
					
					$("#viewTable").empty();		
					let table = '';
					table += `<div><table class="table table-striped jambo_table bulk_action" style="table-layout:fixed;">`;
					table += `<thead>
					            <tr class="headings">
					                <th width="160" class="column-title">지출날짜</th>
					                <th width="160" class="column-title">지출유형</th>
					                <th width="160" class="column-title">지출내용</th>
					                <th width="170" style="color:red;" class="column-title">지출금액</th>
					                <th width="440" class="column-title">상세내용</th>
					                <th class="bulk-actions" colspan="7"><a class="antoo"
					                    style="color: #fff; font-weight: 500;">Bulk Actions ( <span
					                    class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
					                </th>
					            </tr>
					        </thead>`;
					table += `<tbody id='tbodyH' style="height:350px; width:1090px;overflow-y:auto;overflow-x: hidden; display:block;">`;
					for (let i = 0; i < result.length; i++) {
					    let formCash = result[i].cash;
					    formCash = formCash.toLocaleString('ko-KR') + "원";
					    table += `<tr class="even pointer">
					                <td style="width:160px; vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">` + result[i].today + `</td>
					                <td style="width:160px; vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">` + result[i].middleCategori + `</td>
					                <td style="width:160px; vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">` + result[i].detail + `</td>
					                <td style="width:170px; vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;" class="cash">` + formCash + `</td>
					                <td style="width:440px; vertical-align:middle;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">` + result[i].explation + `</td>
					            </tr>`;
					}
					table += `</tbody></table></div>`;
					$("#viewTable").append(table);
					let button = `<button type="button" id="registration" class="btn btn-secondary btn-sm" style="border: none;font-weight: bold;color: white;background: #2A3F54;height: 30px;padding: 0 15px;margin-left: 1000px;width: 90px;">지출등록</button>`;
					$("#viewTable").append(button);
					
					fetch("/ohnong/getTotalCountDate/" + middleCategori + "/" + startDate + "/" + endDate + "/" + pageNum)
					.then(resolve => resolve.json())
					.then(result => {
						console.log(result);
						
						var currentPage = result.cri.pageNum;
						var startPage = result.startPage;
						var endPage = result.endPage;
						var prev = result.startPage!= 1;
						var next = result.readEnd > result.endPage;
						
						let paging = '';
						
						$("#viewPaging").empty();	
						
						paging += `<div class="pageInfo_area" style="width:100%; text-align: center;margin-left:300px;"><ul class="pagination2 model">`;
				        if(prev){
				        	result.startPage = result.startPage - 1;
				          paging += "<li class='pageInfo_btn'><a class='allowleft num ' href='javascript:void(0);' onclick='viewTable(" + 'middle' + ',' + result.startPage +")'>이전 </a></li>";
				        }
				        middle = middleCategori;
				        for(var i = startPage; i <= endPage; i++){
							var active = currentPage == i ? "active":"";
							paging += "<li class='pageInfo_btn  '><a class='num "+active+"' href='javascript:void(0);' onclick='viewTable(" + 'middle' + ',' + i +")'>"+i+"</a></li>"
						}
				        if(next){
				        	result.endPage = result.endPage + 1;
				        	paging += "<li class='pageInfo_btn'><a class='arrowright num ' href='javascript:void(0);' onclick='viewTable(" + 'middle' + ',' + result.endPage +")'>다음 </a></li>";
				        }
				        paging += `</ul></div>`;
				        
				        $("#viewTable").append(paging);
					})
					.catch(reject => {
						console.log(reject);
					})
				})
				.catch(reject => {
					console.log(reject);
				})
			}
			
		}
	</script>
</div>



